{% extends 'base.html.twig' %}

{% block title %}Hello RequestingPassengerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>{{ dto.getTitle }}</h1>

        <div>
            {% for scheduleItem in dto.getPlannedSchedule.getList %}
                <div>
                    <span class="timeOfArrival">
                        {{ scheduleItem.getTimeOfArrival }}
                    </span>

                    <span class="vehicleType">
                        {{ scheduleItem.getVehicleType | trans() }}
                    </span>

                    <span> {{  'direction.to' | trans() }} </span>

                    <span class="destination">
                        {{ scheduleItem.getDestination }}
                    </span>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
