{% extends 'base.html.twig' %}

{% block body %}

    <div class="timetable">
		<div class="title">OUTLINKER</div>

        <div class="table">
			<div>
				<span></span>
				<span class="">
					Busse von deinem Standort
				</span>
			</div>
            {% for scheduleItem in dto.getPlannedSchedule.getList %}
                <div>
					<span class="timeOfArrival">
						{{ scheduleItem.getTimeOfArrival }}
					</span>
					<span class="vehicleType">
						{{ scheduleItem.getVehicleType | trans() }}
					<!--</span>
					<span>-->nach<!--</span>
					<span class="destination">-->
						{{ scheduleItem.getDestination }}
					</span>
                </div>
            {% endfor %}
        </div>
		<div class="menu flex-box-h">
			<a href="{{ path('planning_raise_hand')}}"><div class="button back"><img src='{{asset('gui/images/lupe.png')}}' alt='Suchen' /></div></a>
		</div>

    </div>
{% endblock %}
